html, .body, .main {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.billing__help {
    font-size: 11px;
    color: #999999;
    margin: 0;
}

.billing__field {
    margin-bottom: 10px;
}