<!DOCTYPE html>
<html lang="ru">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body class="body">
        <main class="main">
            {% block main %}
            {% endblock %}
        </main>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script defer src="{% static 'main.js' %}"></script>
    </body>
</html>