{% extends 'core/base.html' %}

{% block main %}
    <form action="{% url 'index' %}" method="post" class="billing">
        {% csrf_token %}
        {% for field in form %}
            <div class="billing__field">
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="billing__help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <input type="button" value="Перевести" id="button">
    </form>
{% endblock %}